<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/journal.css' type='text/css' />
    <link rel="icon"type="image/png" href="/images/l1.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liqnet-groups</title>
  </head>
  <body>

	<center>
		<div>
			<div></div>
			<p><%= name_station%> [<%= device_name%>]</p>
			<div class="imps" onclick="window.print()" ><img src="/images/printer2.png"></div>
		</div>

		<section>
			<center>

				
			</center>
						
		</section>
	</center>
	
  </body>
</html>
<script>

</script>
